.gradient-background {
    background: linear-gradient(300deg, #FFC5C5, #d7cc56, #71eca2, #C7DCA7);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
#nav-bar {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.298); /* Adjust the opacity for the glassmorphic effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    backdrop-filter: blur(10px); /* Apply a blur effect to create the glassmorphic effect */
    padding: 10px 20px;
    z-index: 100; /* Ensure the navbar appears above other content */
}
.logo {
    height: 30px;
}

.person_vcard {
    margin-right: 7px;
}

.profile_photo {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    transform: perspective(1000px) rotateX(20deg) rotateY(10deg);
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
    background-color: rgb(52, 58, 64);
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.menu-list {
    display: flex;
    justify-content: space-evenly;
}

.page-heading {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin: 0;
}

.page-heading h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Apply the font to an element */

.resources {
    font-family: 'Pacifico', 'Poppins' ;
    font-size: 3.5rem;
    color: #ff5300;
}
.page-heading h4 {
    width: 60%;
    position: relative;
    left: 20%;
    font-family: "Poppins";
    color: #a0a0a0;

}
a:hover {
    color: white;
}

h3{
    text-align: center;
}

.items-listing {
    position: relative;
    left: 10%;
}
 